body {
  margin: 0;
  font-family: "Courier New";
}

#container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

td {
  width: 100px;
  height: 100px;
  color: #fff;
  background-color: #00cccc;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

td:hover {
  border-radius: 50px;
}

#gameStatus {
  margin-top: 10px;
  padding: 5px 10px;
  color: #fff;
  background-color: #00cccc;
  font-weight: bold;
}
