body {
  margin: 0;
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
}

#container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

#ball {
  width: 200px;
  height: 200px;
  background-color: #0000aa;;
  border: 50px solid #000;
  border-radius: 150px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#ballmessage {
  color: #fff;
  font-size: 1.2em;
  text-align: center;
}

#ballmessage b {
  color: #000;
  font-size: 8em;
  padding: 16px 60px;
  background-color: #fff;
  border-radius: 100px;
}

#ballmessage i {
  color: #aaa;
  font-size: 0.8em;
}

#input {
  margin: 20px 0;
}

input[type="text"] {
  width: 200px;
  padding: 5px 10px;
  outline: none;
  border: 2px solid #000;
  border-radius: 20px;
}

button {
  color: #fff;
  background-color: #0000aa;
  padding: 5px 10px;
  outline: none;
  border: 2px solid #0000aa;
  border-radius: 20px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #0000aa;
  border-bottom: 1px solid #0000aa;
}

#disclaimer {
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #000;
  position: fixed;
  display: none;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
